name: big-bear-storyteller

services:
  app:
    image: registry.gitlab.com/storyteller-platform/storyteller:web-v2.6.0-experimental.14
    container_name: storyteller
    ports:
      - "8015:8001"
    volumes:
      - storyteller_data:/data
    environment:
      - STORYTELLER_SECRET_KEY=${STORYTELLER_SECRET_KEY}
      - STORYTELLER_LOG_LEVEL=${STORYTELLER_LOG_LEVEL:-info}
      - STORYTELLER_DATA_DIR=${STORYTELLER_DATA_DIR:-/data}
      - TZ=${TZ:-UTC}
    restart: unless-stopped
    network_mode: bridge

volumes:
  storyteller_data:
    name: storyteller_data
    driver: local
