name: automerge
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}
jobs:
  automerge:
    concurrency:
      group: automerge-${{ github.event.pull_request.number || github.event.check_suite.pull_requests[0].number || github.run_id }}
      cancel-in-progress: ${{ github.event_name != 'status' }}
    env:
      MERGE_METHOD: "squash"
      MERGE_LABELS: "automerge,!work in progress,!do not merge"
      MERGE_REMOVE_LABELS: "automerge"
      MERGE_COMMIT_MESSAGE: "pull-request-title-and-description"
      MERGE_FORKS: "false"
      MERGE_RETRIES: "6"
      MERGE_RETRY_SLEEP: "10000"
      MERGE_REQUIRED_APPROVALS: "0"
      MERGE_DELETE_BRANCH: "true"
      UPDATE_LABELS: ""
      UPDATE_METHOD: ""
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    runs-on: ubuntu-latest
    steps:
      - id: automerge
        name: automerge
        uses: "pascalgn/automerge-action@v0.16.4"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
